<!doctype html>

<html>
  <head>
    <title>Evergreen</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/jasmine/jasmine.css') %>"/>
    <link rel="stylesheet" type="text/css" href="<%= url('/resources/evergreen.css') %>"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <%= yield %>

    <div id="footer">
      Powered by <a href="http://github.com/jnicklas/evergreen">Evergreen</a>.
      Evergreen is sponsored by <a href="http://elabs.se">Elabs</a>.
    </div>
  </body>
</html>
  