<div id="page">
  <h1>Evergreen</h1>

  <a class="all" href="<%= url('/run/all') %>">All</a>

  <ul id="specs">
    <% @suite.specs.each do |spec| %>
      <li><a href="<%= spec.url %>"><%= spec.name %></a></li>
    <% end %>
  </ul>
</div>
